<script>
    $(function(){
        if (<%=@event.online?%>){
            $('.address_content').hide()
        }
    })
  $(document).on('change', '.location', function(){
      console.log(this.value)
      if (this.value == 'true'){
          $('.address_content').hide()
      } else {
          $('.address_content').show()
      }
  })

</script>

<%= simple_form_for @event, html: { id: 'event_form' }  do |f| %>

    <%= render partial: 'events/partials/form_content', locals: { resource: @event, f: f } %>

    <div class="form-group">
      <%= f.submit ( f.object.new_record? ? "Add" : "Update") + " event", :class => 'btn btn-primary' %>
      <%= link_to 'Back', :back, :class=>"btn btn-info" %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  :back, :class => 'btn btn-default' %>
    </div>
<% end %>

<div id="external-resource-template" style="display: none">
  <%= render partial: 'common/external_resource_form',
             locals: { form_name: 'event', external_resource: ExternalResource.new } %>
</div>
