<div class="panel panel-default" id="learning-statements">
  <div class="panel-heading">Pre-requisites / Learning Outcomes Form <small>(only visible to privileged users)</small></div>
  <div class="panel-body">

    <div class="form-group" id="prerequisites">
      <%= f.label :prerequisites%>
      <%= f.field_lock :prerequisites%>

      <div id="prerequisites-list">
        <% resource.prerequisites.each_with_index do |prerequisite, index| %>
            <%= render partial: 'common/prerequisite_form',
                       locals: { f: f, form_name: 'event', index: index, prerequisite: prerequisite} %>
        <% end %>
      </div>

      <a href="#" id="add-prerequisites-btn" class="btn btn-info">
        <i class="fa fa-plus"></i> Add prerequisite
      </a>

    </div>

    <div class="form-group" id="learning-outcomes">
      <%= f.label :learning_outcomes %>
      <%= f.field_lock :learning_outcomes %>

      <div id="learning-outcomes-list">
        <% resource.learning_outcomes.each_with_index do |learning_outcome, index| %>
            <%= render partial: 'common/learning_outcome_form',
                       locals: { f: f, form_name: 'event', index: index, learning_outcome: learning_outcome} %>
        <% end %>
      </div>

      <a href="#" id="add-learning-outcomes-btn" class="btn btn-info">
        <i class="fa fa-plus"></i> Add learning outcome
      </a>
    </div>


  </div>
</div>