<%#
Renders a form for a new learning outcome or a prerequisite.
params:
  form_name: 'event' or 'material'
  statement: the learning_outcome or prerequisite object
  statement_type: 'learning_outcome' or 'prerequisite'
%>
<% css_statement_type = statement_type.split("_").join("-").pluralize %>
<% index ||= 'replace-me' %> <%# This is so we can render a blank version of this sub-form in the page, %>

<%# which can be dynamically cloned using JavaScript to add more ExternalResources to the main material form %>
<% field_name_prefix = "#{form_name}[#{statement_type.pluralize}_attributes][#{index}]" %>
<% field_id_prefix_verb = "#{form_name}_#{statement_type.pluralize}_attributes_verb_#{index}" %>
<% field_id_prefix_topic = "#{form_name}_#{statement_type.pluralize}_attributes_noun_#{index}" %>
<% field_id_prefix_tool = "#{form_name}_#{statement_type.pluralize}_attributes_tool_#{index}" %>
<% text = {} %>
<% text['prerequisite'] = 'Before this course, you should be able to ' %>
<% text['learning_outcome'] = 'After this course, you will be able to ' %>

<div class="form-inline learning-statement-form <%=css_statement_type%>-form" data-index="<%= index -%>" data-form-type="<%= form_name %>">

  <label class="delete-learning-statement-btn ">
    &times;
    <%= hidden_field_tag "#{field_name_prefix}[_destroy]", '0', :autocomplete => 'off' %>
    <%= check_box_tag "#{field_name_prefix}[_destroy]", '1', false, :class => 'destroy-attribute', :autocomplete => 'off' %>
  </label>
    <%= hidden_field_tag("#{field_name_prefix}[id]", statement.id) %>

    <%= text[statement_type] %>

    <div class="learning-statement-participle learning-statement-verb">
     <select data-hidden-id="<%= "#{form_name}_#{statement_type.pluralize}_attributes_#{index}_verb"-%>"
                id="<%=field_id_prefix_verb%>"
                placeholder="Select a verb"
                data-lpignore="true">
               <option value="<%= statement.verb || '' %>" selected="selected"></option>
               <%= options_for_select(VerbDictionary.instance.options_for_select, '') %>
        </select>
        <%= hidden_field_tag("#{field_name_prefix}[verb]", statement.verb) %>
    </div>

    <div class="learning-statement-participle learning-statement-noun">
      <select data-hidden-id="<%= "#{form_name}_#{statement_type.pluralize}_attributes_#{index}_noun"-%>"
              id="<%=field_id_prefix_topic%>"
              placeholder="Select a noun"
              data-lpignore="true">
        <option value="<%= statement.noun || '' %>" selected="selected"></option>
        <%= options_for_select(NounDictionary.instance.options_for_select, '') %>
      </select>
      <%= hidden_field_tag("#{field_name_prefix}[noun]", statement.noun) %>
    </div>

    <!--div class="learning-statement-participle learning-statement-noun">
      <%#= tag :div, name: "#{field_name_prefix}[noun]", id: "#{field_id_prefix_topic}" -%>
      </div-->
      <!--For some reason the above tag does not close, so we need to add an extra </div> tag here...-->
      <!-- hidden form field for storing selected ontology terms -->
      <%#= hidden_field_tag("#{field_name_prefix}[noun]", statement.noun) %>
    <!--/div-->

    using
    <div class="learning-statement-participle learning-statement-tool">
      <select
              data-hidden-id="<%= "#{form_name}_#{statement_type.pluralize}_attributes_#{index}_tool"-%>"
              id="<%=field_id_prefix_tool%>"
              placeholder="Search Bio.tools"
              data-subform-id="<%="#{field_id_prefix_tool}_subform"%>"
              data-lpignore="true">
      </select>
    </div>

    <div class="tool_sub_form" id="<%="#{field_id_prefix_tool}_subform"%>">
      <%= label_tag("Add a custom technology") %>
      <br>
      <div class="form-group" style="width:100%;">
        <%= text_field_tag("#{field_name_prefix}[tool_name]",
                           statement.tool_name,
                           class: " form-control",
                           style: "width:100%;",
                           placeholder: 'Enter the name of a tool') %>

        <%= text_field_tag("#{field_name_prefix}[tool_id]",
                           statement.tool_id,
                           class: " form-control",
                           style: "width:100%;",
                           placeholder: 'Add a link to the tool',
                           hint: ' ',
                           #data: {'url-check': "/#{form_name.pluralize}/check_exists"}
                           )
        %>
      </div>
    </div>

</div>
