<% index ||= 'replace-me' %> <%# This is so we can render a blank version of this sub-form in the page, %>
<%# which can be dynamically cloned using JavaScript to add more ExternalResources to the main material form %>
<% field_name_prefix = "#{form_name}[prerequisites_attributes][#{index}]" %> <%# This format is dictated by "accepts_nested_attributes_for" %>
<% field_id_prefix_topic = "#{form_name}_prerequisites_attributes_noun_#{index}" %> <%# This format is dictated by "accepts_nested_attributes_for" %>
<% field_id_prefix_tool = "#{form_name}_prerequisites_attributes_tool_#{index}" %> <%# This format is dictated by "accepts_nested_attributes_for" %>
<!--event_prerequisites_attributes_1_noun-->

<div class="form-inline prerequisites-form" data-index="<%= index -%>" data-form-type="<%= form_name %>">

  <%= hidden_field_tag("#{field_name_prefix}[id]", prerequisite.id) %>

  <div class="form-group">
    <%= select_tag "#{field_name_prefix}[verb]",
                   options_for_select(VerbDictionary.instance.options_for_select,
                                      prerequisite.verb),
                   label: 'Verb',
                   class: "btn btn-default dropdown" %>
  </div>

  <div class="form-group">
    <%= tag :div, name: "#{field_name_prefix}[noun]", id: "#{field_id_prefix_topic}" -%>
  </div><!--For some reason the above tag does not close, so we need to add an extra </div> tag here...-->

  <!-- hidden form field for storing selected ontology terms -->
  <%= hidden_field_tag("#{field_name_prefix}[noun]", prerequisite.noun) %>
</div>

<div class="form-group">
  using
</div>

<div class="form-group">
  <select class="form-control"
          name="choices-single-preset-options"
          data-hidden-id="<%= "#{form_name}_prerequisites_attributes_#{index}_tool"-%>"
          id="<%=field_id_prefix_tool%>"
          placeholder="This is a placeholder">
  </select>
  <%= hidden_field_tag("#{field_name_prefix}[tool_id]", prerequisite.tool_id) %>
  <%= hidden_field_tag("#{field_name_prefix}[tool_name]", prerequisite.tool_name) %>

</div>


  <label class="delete-prerequisites-btn delete-multi-add-resource-btn">
    &times;
    <%= hidden_field_tag "#{field_name_prefix}[_destroy]", '0', :autocomplete => 'off' %>
    <%= check_box_tag "#{field_name_prefix}[_destroy]", '1', false, :class => 'destroy-attribute', :autocomplete => 'off' %>
  </label>
</div>

