<% if resource.prerequisites and !resource.prerequisites.empty? %>
    <p><strong>Before attending this course, you should be able to:</strong></p>
    <ul>
      <%  resource.prerequisites.each do |prerequisite| %>
          <li>
            <% course_suggestions = prerequisite.matching_learning_outcomes %>
            <% if course_suggestions and course_suggestions.any? %>
                              <span class="show-suggested-resources">
                                <%= prerequisite.verb %> <%= prerequisite.noun %>
                                <em>(see <%= pluralize(course_suggestions.count, "suggestion")%> to learn how to <%= prerequisite.verb %> <%= prerequisite.noun %>)</em>
                              </span>
                <div class="hidden suggested-resources">
                  <em>These resources may help you master this pre-requisite</em>
                  <ul>
                    <% prerequisite.matching_learning_outcomes.each do |resource| %>
                        <li><%= link_to "#{resource.title} (#{resource.class})", resource, options: {target: "_blank"} %></li>
                    <% end %>
                  </ul>
                </div>
            <% else %>
                <%= prerequisite.verb %> <%= prerequisite.noun %>
            <% end %>
          </li>

      <% end %>
    </ul>
<% end %>